*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display:flex; 
    width: 100%;
    padding: 28px 30px;
    justify-content: center;
    align-items: center;
    gap: 880px;
    background-color: rgb(149, 92, 202);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.titulo {
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}

.links {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
}

a:link {
    color: #000000;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

a:hover{
    font-size: 150%;
    text-transform: uppercase;
}

.sobre-mim {
    display: flex;
    width: 100%;
    height: 318px;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 125px;
    flex-shrink: 0;
    background-color: rgb(134, 116, 184);
}

.foto{
    img {
        width: 247px;
        height: 247px;
        flex-shrink: 0;
        border-radius: 247px;
        background: url(imagem/fotosofia.jpg), lightgray 100%/ cover no-repeat;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.grupo1{
    width: auto;
    height: 186px;
    flex-shrink: 1;
}

.subtituloeu {
    display: flex;
    width: auto;
    height: 33px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.paragrafo {
    display: flex;
    width: auto;
    height: 160px;
    padding-bottom: 14px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.secao-lista {
    background-color: #6a94b8;
    display: flex;
    width: 100%;
    height: 300px;
    padding: 20px;
    justify-content: center;
    align-items: flex-end;
    gap: 26px;
}

.subtitulolista {
    display: flex;
    width: auto;
    height: 33px;
    justify-content: center;
    align-items: center;
}


.hobbies {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 26px;
}

.lista {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.top5 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 26px;
}

.hobbie{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 17px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #518b8f;
    color: #000;
    font-family: Alata;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.card {
    display: flex;
    width: 100px;
    height: 100px;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #518b8f;
    color: #000;
    font-family: Alata;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frame{
    display: flex;
    width: 100px;
    height: 30px;
    padding-left: 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.grupo2 {
    width: 19px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 0px 0px 5px 5px;
}

footer{
    display: flex;
    width: 100%;
    height: 150px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 897px;
    background-color: rgb(134, 116, 184);
}

.redes{
    padding: 1px;
    a{
        text-decoration: none;
    }  
}

.redes img{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .redes:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

.botao {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    -color: #518b8f;
}

.links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.links > li {
    margin: 0 1rem;
    overflow: hidden;
}
  
.menu-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menu {
    display: none;
}
  
.menu-botao,
.menu-botao::before,
.menu-botao::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    margin-right: 10px;
}
  
.menu-botao::before {
    content: '';
    margin-top: -8px;
}
  
.menu-botao::after {
    content: '';
    margin-top: 8px;
}
  
#menu:checked + .menu-container .menu-botao::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu:checked + .menu-container .menu-botao {
    background: rgba(255, 255, 255, 0);
}
  
#menu:checked + .menu-container .menu-botao::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media  screen and (max-width: 1000px) {
    header {
        display: flex;
        width: 100%;
        padding: 28px 30px;
        justify-content: center;
        align-items: center;
        gap: 320px;
    }

    .titulo {
        display: flex;
        width: 105px;
        height: 53px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sobre-mim {
        display: flex;
        width: 100%;
        height: 584px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 33px;
    }

    .grupo1 {
        height: 240px;
    }

    .subtituloeu {
        display: flex;
        height: 47px;
        padding-bottom: 14px;
        justify-content: center;
        align-items: center;
    }

    .paragrafo {
        width: 90%;
        height: 174px;
        padding-bottom: 6px;
        justify-content: center;
        align-items: center;
    }

    .secao-lista {
        display: flex;
        width: 100%;
        height: 700px;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subtitulolista {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .hobbies {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap: 26px;
    }

    .hobbie {
        display: flex;
        margin-top: 5px;
        width: 100px;
        height: 95px;
        padding-left: 5px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
    }

   .lista {
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        align-self: stretch;
        gap: 46px;
   }

   .top5 {
        display: flex;
        padding: 20px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        gap: 26px;

   }

   .card{
        display: flex;
        width: 100px;
        height: 105px;
        padding-left: 5px;
        flex-direction: column;
        justify-content: space-around;
        align-items:flex-start;
        gap: 10px;
        flex-shrink: 0;
   }

   footer{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
   }

   .botao {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        order: 2;
   }

   .redes{
    order: 3;
   }

   .menu-container {
        display: flex;
  }

   .links {
        position: absolute;
        top: 0;
        margin-top: 90px;
        left: 50%;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
  }

  #menu ~ .links li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu:checked ~ .links li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .links > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: rgb(0, 0, 0);
        background-color: rgb(149, 92, 202);
        
  }

  .links > li:not(:last-child) {
        border-bottom: 1px solid #444;
  }



}